ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-width: 0px;

    position: fixed;

    top: 100px;
}

.but{
    background-color: #e7e4ff;
    border-width: 0px;
    border-color: #e7e4ff;

    width: 100px;
    height: 50px;

    text-align: center;
}

.file-upload {
    padding: 0px;
    margin: 0px;

    position: fixed;

    top: 300px;

    background-color: aquamarine;

    width: 100px;
    height: 70px;

    text-align: center;
    text-decoration: none;
}
table{
    margin: 0px;
    padding: 0px;
}

div{
    margin: 0px;
    padding: 0px;
}

.filelist{
    margin: 0px;
    padding: 0px;

    position: absolute;

    top: 100px;

    width: 1000px;
}

tr{
    height: 30px;

}