<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.disk.dao.FileMapper">

<resultMap id="fileResultMap" type="File">
    <result column="uid" property="id"/>
    <result column="fname" property="fileName"/>
    <result column="fsize" property="fileSize"/>
    <result column="format" property="fileFormat"/>
    <result column="faddress" property="fileAddress"/>
    <result column="fstate" property="fileShareState"/>
</resultMap>

<insert id="fileUpload" parameterType="map">
        insert into mynetdisk.file (user_id,file_name,file_address,file_size,file_format)
        value (#{id},#{fileName},#{fileAddress},#{fileSize},#{fileFormat})
    </insert>

<select id="getFileByUserIdandName" resultMap="fileResultMap">
    select f.file_name fname,f.file_size fsize,f.file_format format,f.file_address faddress,f.file_share_state fstate
    from mynetdisk.file f
    <where>
        f.user_id = #{id}
        <if test="name != null">
            and f.file_name like "%"#{name}"%"
        </if>
    </where>
</select>

<delete id="deleteFile">
        delete from mynetdisk.file where file_address = #{address}
    </delete>

<select id="getShareFile" resultMap="fileResultMap">
        select u.id uid,f.file_name fname,f.file_size fsize,f.file_format format,f.file_address faddress,f.file_share_state fstate
        from mynetdisk.file f,mynetdisk.user u
        where f.user_id = #{id} and f.file_share_state = 0 and u.id = #{id}
    </select>

<update id="updataFileState" parameterType="string">
        update mynetdisk.file set file_share_state = ${state} where file_address = "${address}"
    </update>
</mapper>